
plugins {
    id 'nf-amazon'
}

params {
  // Output base path
  
	// outdir = 's3://irri-nextflow-awsbatch-test/output/'
	outdir = "results"

  sort_extra_params = " --MAX_RECORDS_IN_RAM 500999 --COMPRESSION_LEVEL 7 "

  fixmate_extra_params = " --COMPRESSION_LEVEL 6 "
  markdup_extra_params = " --COMPRESSION_LEVEL 5 "
  addrep_extra_params = " --COMPRESSION_LEVEL 5 "

  // tmpdir = "/eph/tmp/"  // specify temp directory for all Picard and GATK tools
  tmpdir = "./TMP"

  gatk_invoc = "gatk"
  picard_invoc = "java -jar /usr/gitc/picard.jar "
  bwa_invoc = "/usr/gitc/bwa "
  samtools_invoc="samtools"


	max_memory = '128.GB'
	max_cpus = 16
	max_time = '3.days'
}

cleanup = true


profiles {

  irrimac {

	 docker.enabled = true
	 
	 process {
		
		executor = 'local' 

		withName: align {
			container = "public.ecr.aws/p1p2i7f9/samtools-picard-bwa:v1"
			cpus = 4
			memory = "1024.MB"
	  }

		withName: bamProcess {
		  container = "public.ecr.aws/p1p2i7f9/samtools-picard-bwa:v1"
			cpus = 2
			memory = "2000.MB"
		}

    withName: variantCall {
			container = 'public.ecr.aws/biocontainers/gatk4:4.1.9.0--py39_0'
			cpus = 8
			memory = "12000.MB"
		}

	 }

  }



 aws_poc {
	 aws {
	    region = 'ap-southeast-2'
       client {
        maxConnections = 20
        connectionTimeout = 10000
       } 
   }

   aws.batch.cliPath = '/usr/bin/aws' // in the AL2023
	 
	 docker {
     enabled = true
	 }

	 process {
      withName: ALIGN {
        container = "public.ecr.aws/p1p2i7f9/samtools-picard-bwa:v1"
        executor = 'local'
				cpus = 4
				memory = "2000.MB"
      }

       withName: bamProcess {
               container = "public.ecr.aws/p1p2i7f9/samtools-picard-bwa:v1"
         executor = 'local'
				 cpus = 2
				 memory = "6000.MB"
       }

      withName: mergeBam {
         container = "public.ecr.aws/p1p2i7f9/samtools-picard-bwa:v1"
         executor = 'local'
         cpus = 2
         memory = "3000.MB"
       }

       withName: variantCall {
                         // container = 'public.ecr.aws/aws-genomics/broadinstitute/gatk:4.1.8.1'
             container = 'public.ecr.aws/biocontainers/gatk4:4.1.9.0--py39_0'
             // containerOptions = '--shm-size 16000000 --ulimit nofile=1280:2560 --ulimit nproc=16:32'
						 cpus = 4
						 memory = "8000.MB"
       }
     }

 }


}

